@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 98%) ;
}

main{
    display: flex;
    flex-direction: column;
    margin: 25px;
}
h1{
    font-family: 'Poppins:wght@400', sans-serif;

}
img{
   
    height: 50px;
    width: 50px;
    margin-right: 5%;
    margin-bottom: 2%;
    
}
.text{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
    color :hsl(234, 12%, 34%);
    
    
}
.sub-text{
    color: hsl(229, 6%, 66%);
    margin-top: 20px;
}

.image{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 120px;
    
}
.wrapper-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    background-color: hsl(0, 0%, 98%);
    height: 200px;
    width: 270px;
    margin-top: 20px;
    border-top: 5px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px 0px hsla(233, 7%, 78%, 0.912);
}
.card-title{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins:wght@400', sans-serif;
    margin-bottom: 10px;
    color :hsl(234, 12%, 34%);
    
}
.card-subTitle{
    color: hsl(229, 6%, 66%);
}

.card-text{
    font-size: 13px;
    position: relative;
    top: 30px;
    left: 30px;
    right: 0;
    width: 90%;
}
.supervisor{
    border-top: 5px solid hsl(180, 62%, 55%);
}
.teamBuilder{
    border-top: 5px solid hsl(0, 78%, 62%);
}
.karma{
    border-top: 5px solid hsl(34, 97%, 64%);
}
.calculator{
    border-top:5px solid hsl(212, 86%, 64%);
}
@media screen and (min-width:1000px) {

    main{
        display: flex;
        align-items: center;
        
    }
    .text{
        margin-bottom: 0;
    }
   .wrapper-card{
      display: grid;
      margin-top: 40px;
      grid-template-rows:24% 24% 24% 24% ;
      grid-template-columns: 29% 29% 29% ;
      grid-template-areas: ".team."
              "supervisor    team      calculator"
              "supervisor    karma     calculator"
                           ".karma.";
      gap: 30px ;
      
      justify-content: center;
    
    }
    .card{
       
        height: 100%;
        width: 100%;
        max-height: 230px;
        max-width: 400px;
        margin-top: 20px;
    
    }
    img{
        height: 60px;
        width: 60px;
        margin-right: 9%;  
    }
    .image{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-top: 130px;
        height: 25px;
        
    }
    
    .card-text{
        
        height: 0px;
    }
    .card-subTitle{
        margin-right: 5%;
    }
    .supervisor{
       grid-area: supervisor;
    }
    .teamBuilder{
    
        grid-area: team;
       
    }
    .karma{
    
        grid-area: karma;
    }
    .calculator{
        grid-area: calculator;
    }
}
